@page
@model View.Pages.BorrowRequest.IndexModel
@{
}
<div class="col-12 p-3 border mt-3 ">
    <form method="post">
        @if (Model.Requests.Any())
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        <label asp-for="Requests.FirstOrDefault().Customer.User.UserName"></label>
                    </th>
                    <th>
                        <label asp-for="Requests.FirstOrDefault().StartDate"></label>
                    </th>
                    <th>
                        <label asp-for="Requests.FirstOrDefault().EndDate"></label>
                    </th>
                    <th>
                        <label asp-for="Requests.FirstOrDefault().Approved"></label>
                    </th>
                </tr>
                
                @foreach(var item in Model.Requests)
                {
                    <tr>
                        <td>
                            @item.Customer.User.UserName
                        </td>
                        <td>
                            @item.StartDate
                        </td>
                        <td>
                            @item.EndDate
                        </td>
                        <td>
                            @item.Approved
                        </td>
                        
                        <td>
                            <a asp-page="/BorrowRequest/Details" asp-route-id="@item.RequestId" class="btn btn-warning btn-sm">Details</a>
                        </td>
                        <td>
                            <a asp-page="/BorrowRequest/Edit" asp-route-id="@item.RequestId" class="btn btn-warning btn-sm">Edit</a>
                           
                        </td>
                    </tr>   
                }
            </table>
        }
        else
        {
            <p>There is no Request to show.</p>
        }
    </form>
</div>